<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exposant Details</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


</head>
<body>
<nav class="p-3">
    <nav class="container">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title mt-3 text-center">
                            Profil :
                        </h4>

                    <a href="/dashboard" class="btn btn-outline-primary ml-auto">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Dashboard
                    </a>
                </div>

                <span class="form-control" th:text="${user.userId}" hidden></span>


                <i>Nom :</i>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                    </div>
                    <span class="form-control" th:text="${user.username}"></span>
                </div>

                <i>E-mail :</i>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
                    </div>
                    <span class="form-control" th:if="${user.email == null or user.email == ''}"
                          th:text="Indisponible"></span>
                    <span class="form-control" th:if="${user.email != null and user.email != ''}"
                          th:text="${user.email}"></span>
                </div>

                <i>Telephone :</i>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
                    </div>
                    <span class="form-control"
                          th:if="${user.telephone == null or user.telephone == ''}"
                          th:text="Indisponible"></span>
                    <span class="form-control"
                          th:if="${user.telephone != null and user.telephone != ''}"
                          th:text="${user.telephone}"></span>
                </div>

            </div>
        </div>
    </nav>
</nav>

</body>
</html>