<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template.html">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link crossorigin="anonymous"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
  <link rel="stylesheet"/>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Login</title>
</head>
<body>
<div layout:fragment="content">


<div class="container-fluid background">
  <div class="container d-flex justify-content-center" id="centre">
    <div class="row shadow-inner">
      <form action="" method="POST">
        <div class="form-group">
          <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
          <fieldset>
            <table class="table caption-top form-table">
              <caption><h3>Login</h3></caption>
              <div class="row>">
                <tr>
                  <th>
                    <label for="username">Username</label>
                  </th>
                  <td>
                    <input id="username" name="username" type="text"/>
                  </td>
                </tr>
                <tr>
                  <th>
                    <label for="password">Password</label>
                  </th>
                  <td>
                    <input id="password" name="password" type="password"/>
                  </td>
                </tr>
              </div>
              <div class="row m-2>">
                <tr>
                  <th>
                    <button class="btn btn-success" type="submit">Log in</button>
                  </th>
                  <td>
                    <div th:if="${param.logout != null}">You have been logged out.</div>
                    <div class="error-message" th:if="${param.error != null}">
                      Login failed:<br>
                      Please confirm your details
                    </div>
                  </td>
                </tr>
              </div>
            </table>

          </fieldset>
        </div>
      </form>
      <button class="btn btn-link" onclick="window.location.href='/register';">
        Create New Account
      </button>
    </div>
  </div>
</div>


</body>
</html>
